:root 
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
body
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f2f2f2
i,em,b
    font-style:normal;
    font-weight:normal;
input,textarea,select
    -webkit-appearance:none;
    border:0;
    background:transparent;
button,input,input[type=button]:focus
    overflow visible
    outline none
    border 0
    -webkit-tap-highlight-color:rgba(0,0,0,0)
input,a,span
    -webkit-tap-highlight-color:rgba(0,0,0,0);
a
    text-decoration none
    color #666